@model ProductListViewModel

<h1>Products</h1>


<table class="table">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Featured</th>
            <th scope="col">Category</th>
            <th scope="col">Buy Product</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var product in Model.Products){
            <tr>
                <th scope="row">
                    <a asp-controller="Product"
                        asp-action="Details"
                        asp-route-id="@product.ProductId"
                        class="product-link">@product.Name
                    </a>
                </th>
                <td>@product.Price.ToString("c")</td>
                <td>
                    @(product.IsFeaturedProduct ?  "Yes" : "No" )
                </td>
                <td>@product.Category.CategoryName</td>
                <td>
                    <a class="btn btn-secondary"
                       asp-controller="ShoppingCart"
                       asp-action="AddToShoppingCart"
                       asp-route-productId="@product.ProductId">+ Add to cart</a>
                </td>
            </tr>
        }
    </tbody>
</table>
