@model ShoppingCartViewModel

<h3 class="my-5">
    Shopping cart
</h3>


<div class="row gx-3">
    <div class="col-8">
        @foreach (var item in Model.ShoppingCart.ShoppingCartItems)
        {
            <div class="card shopping-cart-card mb-2">
                <div class="row">
                    <div class="card-body">
                        <h5 class="card-text">@item.Amount x @item.Product.Name</h5>
                        <div class="d-flex justify-content-between">
                            <h6>@item.Product.Description</h6>
                            <h2>@item.Product.Price.ToString("c")</h2>
                            <a class="btn btn-secondary" 
                            asp-controller="ShoppingCart"
                            asp-action="RemoveFromShoppingCart"
                            asp-route-productId="@item.Product.ProductId">
                                <h6>Remove</h6>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="col-4">
        <div class="card shopping-cart-card p-3">
            <div class="row">
                <h4 class="col">Total:</h4>
                <h4 class="col text-end">@Model.ShoppingCartTotal.ToString("c")</h4>
            </div>
            <hr />
            <div class="text-center d-grid">
                <a class="btn btn-secondary" asp-controller="Order" asp-action="Checkout">
                    <h4>Check out now!</h4>
                </a>
            </div>
        </div>
    </div>
</div>